.projects-outter {
  width: 100%;
  height: 2000px;
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.portfolio-container {
  border: 2px red solid;
  width: 90%; 
  height: 90%;
  display: flex;
  flex-direction: column;
}

