.projects-outter {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.portfolio-title {
  margin-top: 150px;
}


.portfolio-container {
  /* border: 2px red solid; */
  width: 90%; 
  height: 3750px;
  display: flex;
  flex-direction: column;
}

