.nav-button {
  color: #fff;
  background-color: inherit;
  font-family: Prompt, sans-serif;
  border: none;
  font-size: 16px;
  margin: 2em;

}

.nav {
  display: flex;
  justify-content: flex-end;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

