@import '../variables';


.projects-outter {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  background-color: $magnolia;
}

.portfolio-title {
  margin-top: 150px;
}


.portfolio-container {
  /* border: 2px red solid; */
  width: 90%; 
  height: 4000px;
  display: flex;
  flex-direction: column;
}

