.footer-container {
  color: #fff;
  background-color: #000;
  width: 100%;
  height: 50vh;
  border: 2px red solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info-container {
  border: 2px white solid;
  width: 80%;
  height: 90%;
  font-family: 'Prompt', sans-serif;
  font-size: 30px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 10px;
}

.contact-label-container {
  border: 2px grey solid;
  padding: 10px 0px 10px 0px;
}